.signin-register-buttons {
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  // border: none;
  padding: 10px;
  color: #A7C957;
  width: 150px;
  // margin: 12px 20px;
  &:hover {
    cursor: pointer;
    animation: pulse; 
    animation-duration: 1s;
      }
}

.orange-register-button {
  text-align: center;
  text-decoration: none;
  background-color: #F4A259;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  width: 150px;
  margin: 12px 20px;
  &:hover {
    cursor: pointer;
    animation: pulse; 
    animation-duration: 1s;
      }
}

.postRideButton {
  display: flex;
  justify-content: center;
}