.footer-container {
  background: white;
  display: flex;
  padding: 30px 20px;
  position: relative;
  bottom: 0;
  height: 2.5rem;
  justify-content: flex-end;
  font-weight: bold;
 }

.footer {
  display: flex;
  justify-content: center;
  color:#A7C957 ;
}

.footer-links {
  text-decoration: none;
  color:#A7C957 ;
  &:hover {
    cursor: pointer;
    animation: pulse; 
    animation-duration: 1s;
      } 
 }