
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, 
body {
  font-family: 'roboto', arial, helvetica, sans-serif;
}


.InputField {
  text-align: center;
  margin: 8px;
  font-family: 'roboto', arial, helvetica;
  background-color: #D7E6B2;
  color: #386641;
}

button {
  position: relative;
  background-color: #F4A259;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.flex-container {
  width: 100vh;
  height: 70vh;
  align-items: center;
  display: flex;
  justify-content: center;
  color:#386641 ;
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1rem solid #A7C957;
  color: #A7C957
}

.logo {
  width: 50%;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px; 
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.registeration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  width: 250px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}