@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import './main.scss';
@import './search.scss';
@import './buttons.scss';
@import './forms.scss';

html {
  display: flex;
  justify-content: center;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}



button {
  position: relative;
  background-color: #F4A259;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.flex-container {
  width: 100vh;
  height: 70vh;
  align-items: center;
  display: flex;
  justify-content: center;
  color:#386641 ;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
}

.logo {
  width: 50%;
  
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
  padding-right: 10% 
}

.registeration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  width: 250px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-link {

  color: white;
}




