body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 80%
}

.app {
  flex: 1;
  padding: 12px;
}

.main-title {
  // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  // padding: 12px;
  border-radius: 5px;
  display: flex;
  width: 100%;

}

.nav-hello {
  display: flex;
  justify-content: left;
  padding: 12px;
  width: 50%;
  }

  .nav-logo{
    height: 3vh;
  }
  
.nav-button-container {
  display: flex;
  justify-content: right;
  padding: 12px;
  width: 50%;
  font-weight: bold;
}

.logo-container {
  display: flex;
  justify-content: center;
  // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  // padding: 20px;
  border-radius: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 75px;
}


