@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  // position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #F4A259;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
}

.searchTerm:focus{
  color: black
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #F4A259;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.passengerMenu {
  width: 40px;
  height: 36px;
  border: 1px solid #F4A259;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  display: flex;
  justify-content: center;
  // width: 50%;
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}