@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchbar-container {
  display: flex;
  justify-content: center;
  // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  // padding: 12px;
  border-radius: 100px;

}

.search {
  width: 100%;
  // position: relative;
  display: flex;
  // justify-content: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #F4A259;
  border-right: none;
  // padding: 5px;
  height: 20px;
  // border-radius: 100px;
  outline: none;
  color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
}

.searchTerm:focus{
  color: black
}

.searchButton {
    // height: 100%;
  margin-top: 5px;
  padding: 20px;
  border: none;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  // display: flex;
  // align-items: left;
  &:hover {
    cursor: pointer;
    animation: pulse; 
    animation-duration: 1s;
      } 
}

.passengerMenu {
  width: 80px;
  height: 36px;
  // border: 1px solid #F4A259;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.searchInputField {
  // text-align: center;
  // margin: 8px;
  font-family: 'roboto', arial, helvetica;
  background-color: rgba(244, 162, 89, 0.54);
  color: #386641;
}

.searchSeatsField {
  display: flex;
  justify-content: right;
  background-color: rgba(244, 162, 89, 0.54);
  width: 100%;
  margin: 8px;
  color: white;
}
