@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchbar-container {
  display: flex;
  justify-content: center;
  border-radius: 100px;

}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #F4A259;
  border-right: none;
  height: 20px;
  outline: none;
  color: #50925d;
  display: flex;
  justify-content: center;
}

.searchTerm:focus{
  color: #386641;
}

.searchButton {
  margin-top: 5px;
  padding: 20px;
  border: none;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    animation: pulse; 
    animation-duration: 1s;
      } 
}

.passengerMenu {
  width: 80px;
  height: 36px;
  background: #F4A259;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.searchInputField {
  font-family: 'roboto', arial, helvetica;
  background-color: rgba(244, 162, 89, 0.54);
  color: #386641;
}

.searchSeatsField {
  display: flex;
  justify-content: right;
  background-color: rgba(244, 162, 89, 0.54);
  width: 100%;
  margin: 8px;
  color: white;
}
