.view-rides-container {
  display: flex;
  justify-content: top;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 5px;
  margin-top: 50px
}

.route-container{
  display: flex;
  justify-content: left;
  padding: 12px;
  width: 50%;
  font-weight: bold;
  color: #F4A259
  }
  
.route-date-container {
  display: flex;
  justify-content: right;
  padding: 12px;
  width: 50%;
  font-weight: bold;
  color: #F4A259
}

.each-ride-container{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 12px;

}