.view-rides-container {
  display: flex;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  justify-content: center;
  position: relative;

}

.start-end-date-container{
  display: flex;
  justify-content: top;
  background-color: red;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.search-results-container{
  display: flex;
  background-color: blue
}

.route-container{
  display: flex;
  justify-content: left;
  padding: 12px;
  width: 50%;
  font-weight: bold;
  color: #F4A259
  }
  
.route-date-container {
  display: flex;
  justify-content: right;
  padding: 12px;
  width: 50%;
  font-weight: bold;
  color: #F4A259
}

.each-ride-container{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 12px;

}